
.twocol-50-50-stacked .col-right {
  width: 65%;
  float: right;
}

.twocol-50-50-stacked .col-left {
  width: 35%;
  float:left;
}

.twocol-50-50-stacked .container.top,
.twocol-50-50-stacked .container.bottom {
  width: 100%;
  clear:both;
}
