
.twocol-50-50-stacked .col-right {
  width: 34%;
  padding-left: 1%;
  float: right;
}

.twocol-50-50-stacked .col-left {
  width: 64%;
  padding-right: 1%;
  float:left;
}

.twocol-50-50-stacked .container.top,
.twocol-50-50-stacked .container.bottom {
  width: 100%;
  clear:both;
}
