
.twocol-75-25-stacked .container,
.twocol-75-25-stacked .column {
  position: relative;
}

.twocol-75-25-stacked .col-right {
  width: 25%;
  float: right;
}

.twocol-75-25-stacked .col-left {
  width: 74%;
  float:left;
}

.twocol-75-25-stacked .container.header,
.twocol-75-25-stacked .container.top,
.twocol-75-25-stacked .container.bottom {
  width: 100%;
  clear:both;
}
